<section class="" style="background-color:#646f68;color: #eceeea;">
    <div class="section-inner">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb100 wow">
                        <h2 class="section-heading">Our Mission </h2>
                        <h3 class="section-subheading secondary-font">is to make you happy.</h3>

                    </div>
                </div>
            </div>
            <div class="row" style="text-align:center">
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                    <div class="icon-box-1 match-height mb30">
                        <i class="fa fa-camera-retro fa-5x"></i>
                        <div class="content-area">
                            <h3 class="title">let you know about other's experiences</h3>
                            <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                    <div class="icon-box-1 match-height mb30">
                        <br><br><br>
                        <i class="fa fa-globe fa-5x"></i>
                        <div class="content-area">
                            <h3 class="title">help you choose a destination</h3>
                            <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
                    <div class="icon-box-1 match-height mb30">
                        <i class="fa fa-plane fa-5x"></i>
                        <div class="content-area">
                            <h3 class="title">Find you the best plans</h3>
                            <div class="content">Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>