<section id="our-menu" style="padding-bottom: 50px;">
    <div class="section-inner nopaddingbottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb100 wow text-center">
                    <h2 class="section-heading">Our Team</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="4" data-items-tablet="[768,2]" data-items-mobile="[479,1]">
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="assets/img/team/1.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">
                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Bchir Amani</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-behance"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="assets/img/team/1.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">
                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Bchir Amani</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-behance"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="assets/img/team/1.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">
                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Bchir Amani</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-behance"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item">
                                        <div class="col-xs-12">
                                            <img src="assets/img/team/1.jpg" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">
                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Bchir Amani</a></h3>
                                                <ul class="smoothie list-inline social-links wow">
                                                    <li>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-behance"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>