<div id="footer-wrapper" style="background-color:#646f68;color:#eceeea;">
    <section class="transparent-wrapper ">
        <div class="section-inner ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-4 ">
                        <div class="widget about-us-widget ">
                            <h4 class="widget-title "><strong>Our Mission</strong></h4>
                            <p>Professionally monetize team building materials for 24/7 results. Holisticly transition corporate platforms vis-a-vis cutting-edge experiences. Dynamically strategize ubiquitous applications for premier initiatives. Interactively
                                seize resource sucking niche markets.</p>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="widget ">

                            <h4 class="widget-title ">Contact Us</h4>
                            <div class="container ">
                                <div class="row ">
                                    <div class="col-md-6 text-left match-height ">
                                        <ul class="list-inline social-links wow ">
                                            <li>
                                                <a href="# "><i class="fa fa-twitter "></i></a>
                                            </li>
                                            <li>
                                                <a href="# "><i class="fa fa-pinterest "></i></a>
                                            </li>
                                            <li>
                                                <a href="# "><i class="fa fa-dribbble "></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-6 text-left match-height ">
                                        <ul class="list-inline social-links wow ">
                                            <li>
                                                <a href="# "><i class="fa fa-facebook "></i></a>
                                            </li>
                                            <li>
                                                <a href="# "><i class="fa fa-behance "></i></a>
                                            </li>
                                            <li>
                                                <a href="# "><i class="fa fa-linkedin "></i></a>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="widget ">
                            <h4 class="widget-title "><strong>Our Location</strong></h4>
                            <div role="tabpanel" class="tab-pane fade" id="contact2">
                                <div id="mapwrapper"></div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class="white-wrapper " style="background-color:#506264 ">
        <div class="container ">
            <div class="row ">
                <div style="text-align:center; ">
                    <div class="vertical-center ">
                        <span class="copyright ">Copyright 2019. Designed by DISTINCTIVE THEMES</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>