<section class="-wrapper opaqued no-overlay parallax" data-parallax="scroll" style="background-color:#7795a1" data-speed="0.7">
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 match-height">
                    <div class="vertical-center">
                        <h2 class="section-heading">Discover Your Best Destinations</h2>
                        <h3 class="section-subheading secondary-font">It can be anywhere in the world.</h3>
                    </div>
                </div>
                <div class="col-sm-7 match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="3" data-items-tablet="[768,2]" data-items-mobile="[479,1]">
                                <li>
                                    <div class="row hover-item" style=" height:200px;width:200px;">
                                        <div class="col-xs-12">
                                            <img src="assets/img/continent/Africa.png" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">
                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Africa</a></h3>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item" style=" height:200px;width:200px;">
                                        <div class="col-xs-12">
                                            <img src="assets/img/continent/Australia.png" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">
                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Autralia</a></h3>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item" style=" height:200px;width:200px;">
                                        <div class="col-xs-12">
                                            <img src="assets/img/continent/America.png" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">
                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">America</a></h3>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item" style=" height:200px;width:200px;">
                                        <div class="col-xs-12">
                                            <img src="assets/img/continent/Asia.png" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">
                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Asia</a></h3>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row hover-item" style=" height:200px;width:200px;">
                                        <div class="col-xs-12">
                                            <img src="assets/img/continent/Europe.png" class="img-responsive smoothie" alt="">
                                        </div>
                                        <div class="col-xs-12 hover-item-caption smoothie">
                                            <div class="vertical-center">
                                                <h3 class="smoothie"><a href="single-portfolio.html" title="view project">Europe</a></h3>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 match-height">
                    <a class="btn btn-primary mt30" href="single-post-right-sidebar.html">View More</a>

                </div>

            </div>
        </div>
    </div>
</section>