<div class="col-xs-6" style="margin-top:100px">
    <section class="dark-wrapper opaqued parallax" style="background-color:#7b8052;color: #eceeea;">
        <div class="container">
            <div class="row">
                <div class="col-sm-5" style="margin:20px">
                    <div class="row">
                        <div class="col-lg-12 mb100 wow">
                            <h2 class="section-heading">Sign In</h2>
                            <h3 class="section-subheading secondary-font"> As a Simple User.</h3>
                        </div>
                    </div>
                    <div id="message"></div>
                    <form [formGroup]="signinForm" class="main-contact-form wow">
                        <div class="row">
                            <div style="color: red">
                                {{errMessage}}
                            </div>
                            <input type="text" class="form-control col-md-6" formControlName="email" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
                            <div *ngIf="signinForm.controls['email'].invalid && (signinForm.controls['email'].touched || signinForm.controls['email'].dirty)">
                                <div *ngIf="signinForm.controls['email'].errors.required" class="text-danger">
                                    email is required
                                </div>
                                <div *ngIf="signinForm.controls['email'].errors.email" class="text-danger">
                                    invalid email
                                </div>
                                <div style="color: red">
                                    {{errMessage}}
                                </div>
                            </div>

                        </div>
                        <input type="password" class="form-control col-md-6" formControlName="password" placeholder="Your Password*" name="password" id="password" />
                        <div *ngIf="signinForm.controls['password'].invalid && (signinForm.controls['password'].touched || signinForm.controls['password'].dirty)">
                            <div *ngIf="signinForm.controls['password'].errors.required" class="text-danger">
                                Password is Required
                            </div>
                            <div *ngIf="signinForm.controls['password'].errors.minlength" class="text-danger">
                                Password Min Length is 5
                            </div>
                        </div>


                        <button (click)="signin()" class="btn btn-primary mt30 btn-white pull-right"> Login </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>